<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="../templates/fragment/meta :: meta"></div>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    <div th:replace="../templates/fragment/navbar_top :: navbar_top"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:replace="../templates/fragment/navbar_left :: navbar_left"></div>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div th:if="${baseResult ne null and !baseResult.success}" class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span th:text="${baseResult.msg}"></span>
            </div>
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">修改</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form class="form-horizontal" action="/user/update" method="post">
                            <div class="card-body">
                                <div class="form-group row" style="display: none">
                                    <label for="inputUsername3" class="col-sm-2 col-form-label">ID</label>
                                    <div class="col-sm-10">
                                        <input type="text" th:value="${user.getId()}" class="form-control" id="inputId3" name="id">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputUsername3" class="col-sm-2 col-form-label">用户名</label>
                                    <div class="col-sm-10">
                                        <input type="text" th:value="${user.getUsername()}" class="form-control" id="inputUsername3" name="username" placeholder="请输入用户名">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPhone3" class="col-sm-2 col-form-label">电话</label>
                                    <div class="col-sm-10">
                                        <input type="text" th:value="${user.getPhone()}" class="form-control" id="inputPhone3" name="phone" placeholder="请输入电话">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">邮箱</label>
                                    <div class="col-sm-10">
                                        <input type="email" th:value="${user.getEmail()}" class="form-control" id="inputEmail3" name="email" placeholder="请输入邮箱">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">密码</label>
                                    <div class="col-sm-10">
                                        <input type="password" th:value="${user.getPassword()}" class="form-control" id="inputPassword3" name="password" placeholder="请输入密码">
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-info">确定</button>
                                <button type="button" class="btn btn-default float-right" onclick="history.back()">返回</button>
                            </div>
                            <!-- /.card-footer -->
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="../templates/fragment/navbar_footer :: navbar_footer"></div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<div th:replace="../templates/fragment/js :: js"></div>

</body>
</html>
