<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace= "cn.wfc.shop.mapper.MyUserMapper" >
    <resultMap id ="UserInfoMap" type="cn.wfc.shop.entity.MyUser">
        <result column="username" property="username"/>
        <result column="password" property="password"/>
    </resultMap>

    <select id = "findUserByEmail" resultMap="UserInfoMap">
        select
          id,
          username,
          password,
          phone,
          email,
          created,
          updated
        from
          tb_user
         where email = #{email}
    </select>
</mapper>