<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace= "cn.wfc.shop.mapper.MyUserMapper" >
    <resultMap id ="UserInfoMap" type="cn.wfc.shop.entity.MyUser">
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
    </resultMap>

    <select id = "findUserByEmail" resultMap="UserInfoMap">
        select
          id,
          username,
          password,
          phone,
          email,
          created,
          updated
        from
          tb_user
         where email = #{email}
    </select>

    <select id = "findAll" resultMap="UserInfoMap">
        select
          id,
          username,
          password,
          phone,
          email,
          created,
          updated
        from
          tb_user
    </select>
    <insert id="insert" parameterType="cn.wfc.shop.entity.MyUser" useGeneratedKeys="true" keyProperty="id">
        insert into tb_user(username,password,phone,email,created ,updated)
        values(#{myUser.username},#{myUser.password},#{myUser.phone},#{myUser.email},#{myUser.created},#{myUser.updated})
    </insert>
</mapper>